*{ margin:0px; padding:0px; font-family:"Microsoft Yahei","Helvetica","Arial";}
a{ text-decoration:none;}
h1{ margin:0;}
html,body{ height:100%; background-color:#fff; box-sizing:border-box;}
/*头部导航*/
.header{ position:fixed; top:0; left:0; width:100%; height:50px; background-color:#2A303C; z-index:777;}
.header_logo{ display:block; width:160px; height:40px; background: url(/pages/img/header_logo.png) no-repeat center; transform: translateY(5px) translateX(40px);}
/*侧导航*/
.sidemenu{ position:fixed; top:50px; left:0; width:170px; height:100%; z-index: 777; background-color:#373D47!important;}
.control_sidemenu{ list-style:none; margin:35px 0 0 0!important;}
.control_sidemenu a{ display:block; color:#fff; font-size:12px; line-height:40px; letter-spacing:1px; padding-left:50px;}
.control_sidemenu a:hover{ background-color:#f81616;}
.active_menu{ background-color:#f81616;}
    /*图标*/
.icon_common{ background-repeat:no-repeat; background-position:17px center;}
.icon_a{ background-image:url(/pages/img/icon/icon_a.png);}
.icon_b{ background-image:url(/pages/img/icon/icon_b.png);}
.icon_c{ background-image:url(/pages/img/icon/icon_c.png);}
.icon_d{ background-image:url(/pages/img/icon/icon_d.png);}
/*主体显示*/
.contentbox{ position:absolute; top:50px; left:170px; right:0; bottom:0; background-color:#fff;}
.maincontent{ position:absolute; top:0; left:0; right:0; bottom:0; width:auto; overflow:hidden; overflow-y:scroll;}