html,body{ width:100%; height:100%;}
body{ background-color: #fff; font-family: "Helvetica","Arial"; margin:0; padding:0; }
input{ margin: 0; padding: 0; border: none; outline: none; -webkit-appearance: none; display: block; box-sizing: border-box;}
/*header*/
.header{ width: 100%; height: 60px; background-color: #ee4848;}
.header_logo{ display: block; width: 229px; height: 47px; background: url(/pages/img/logo.png) no-repeat center; transform: translateY(7px) translateX(40px);}
.loginbox{ overflow: hidden; margin:0 auto; width: 100%; min-height: 528px; background: url(/pages/img/banner.jpg) no-repeat center top; background-size:cover;}
.formbox{ float: right; width: 360px; height: 330px; margin: 100px 70px 0 0; background:rgba(255,255,255,0.9);}
.login_intrduce{ font-size: 16px; color: #777777; padding-left: 18px; margin-bottom: 40px; padding-top: 20px;}
.btn_margin{ margin: 25px auto 0 auto; width: 100%;}
.btn_username{ width: 325px; height: 38px; margin: 0 auto; border: 1px solid #cccccc; border-radius: 5px; font-size: 16px; color: #777777; padding-left: 10px;}
.btn_password{ width: 325px; height: 38px; margin: 0 auto; border: 1px solid #cccccc; border-radius: 5px; font-size: 16px; color: #777777; padding-left: 10px;}
.btn_username:focus,.btn_password:focus{ border: 1px solid #f81616;}
.btn_login{ width: 325px; height: 38px; color: #fff; border-radius: 5px; background-color: #f81616; margin: 0 auto; font-size: 16px; font-weight: bold; cursor: pointer;}
.btn_login:hover{ background-color: #f93d3d;}
.copyright{ text-align: center; font-size: 14px; color: #777777; margin-top: 20px;}